<div class="btn-group pull-right">
    {{#link-to 'event.show' content.id class="btn btn-primary"}} <span class="glyphicon glyphicon-edit"></span> {{/link-to}}
    <a {{ action goBack }} class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
</div>

<div class="form-group">
    {{view Ember.TextField valueBinding="name" class="form-control" placeholder="Name"}}
</div>
<div class="form-group">
    {{view App.DatePickerField valueBinding="date" class="form-control"}}
</div>
<div class="form-group">
    {{view Ember.Select
        content=locations
        optionValuePath="content"
        optionLabelPath="content.name"
        selection=location
        prompt="Select location"
    }}
</div>

<p>
    <button {{action updateItem this}} class="btn btn-primary btn-lg">Update record</button>
</p>