<h2>{{ event.location.name }}</h2>

<div class="form-group">
    {{view Ember.Select
        content=locations
        optionValuePath="content"
        optionLabelPath="content.name"
        selection=event.location
        prompt="Select location"
        classNames="form-control"
    }}
</div>

{{ view App.MapView lat=event.location.lat lng=event.location.lng }}

<div class="form-group">
    {{ textarea value=event.notes classNames="form-control" rows=5 placeholder="Add notes" }}
</div>

{{#if event.isDirty }}
    <div class="form-group">
        <p><button {{action "save" content}} type="button" class="btn btn-primary btn-lg btn-block">Save</button></p>
    </div>
{{/if}}