<div class="btn-group pull-right">
    {{# link-to 'event.edit' event.id class="btn btn-default" }} <span class="glyphicon glyphicon-edit"></span> {{/link-to}}
</div>

<dl class="dl-horizontal">
    <dt>Starts at</dt>
    <dd>{{ humanizeDate event.starts_at 'dddd, DD.MM.YYYY, HH:mm' }}</dd>
    <dt>Ends at</dt>
    <dd>{{ humanizeDate event.ends_at 'dddd, DD.MM.YYYY, HH:mm' }}</dd>
    <dt>Location</dt>
    <dd>{{ event.location.name }}</dd>
    {{#if event.notes }}
    <dt>Notes</dt>
    <dd>
        {{ markdown event.notes }}
    </dd>
    {{/if}}
</dl>

<h2 {{ action "setStatus" }}>Attendees <span>{{ event.present_count }} / {{ event.absent_count }}</span></h2>

<div class="list-group">
{{# each a in attendancesSorted }}
    <div class="list-group-item">
        <div class="pull-left">
            <span {{bind-attr class="a.isSaving :glyphicon :glyphicon-repeat :rotate :pull-left"}}></span>
            <h4 class="list-group-item-heading">{{a.user.name}}</h4>
            <p class="text-muted list-group-item-text">{{ a.user.email }}</p>
        </div>
        {{#if a.is_editable }}
        <div class="btn-group pull-right">
            <button {{ action "setStatus" a 'present' }} type="button" {{bind-attr class="a.is_present :btn :btn-default"}}>
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button {{ action "setStatus" a 'absent' }} type="button" {{bind-attr class="a.is_absent :btn :btn-default"}}>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        {{/if}}
    </div>
{{/each}}
</div>