<div class="btn-group pull-right">
    {{# link-to 'event.edit' content.id class="btn btn-default" }} <span class="glyphicon glyphicon-edit"></span> {{/link-to}}
    <a {{ action goBack }} class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
</div>

<h1>{{ name }}</h1>
<h2>{{ humanizeDate date }}</h2>

<h2 {{ action setStatus }}>Attendees</h2>

<div class="list-group">
{{# each a in attendances }}
    <div class="list-group-item">
        {{a.user_name}}
        {{a.isPresent}}
        <div class="btn-group pull-right">
            <button {{ action setStatus a 'present' }} type="button" {{bind-attr class="a.isPresent :btn :btn-default"}}>
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button {{ action setStatus a 'absent' }} type="button" {{bind-attr class="a.isAbsent :btn :btn-default"}}>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
{{/each}}
</div>