<div class="btn-group pull-right">
    {{# link-to 'event.edit' event.id class="btn btn-default" }} <span class="glyphicon glyphicon-edit"></span> {{/link-to}}
</div>

<h2 {{ action "setStatus" }}>Attendees <span>{{ event.present_count }} / {{ event.absent_count }}</span></h2>

<div class="list-group">
{{# each a in event.attendances }}
    <div class="list-group-item">
        <span {{bind-attr class="a.isSaving :glyphicon :glyphicon-repeat :rotate"}}></span>
        {{a.user.name}}
        {{#if a.is_editable }}
        <div class="btn-group pull-right">
            <button {{ action "setStatus" a 'present' }} type="button" {{bind-attr class="a.is_present :btn :btn-default"}}>
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button {{ action "setStatus" a 'absent' }} type="button" {{bind-attr class="a.is_absent :btn :btn-default"}}>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        {{/if}}
    </div>
{{/each}}
</div>