<div class="btn-group pull-right">
    {{#link-to 'team.index' team class="btn btn-default"}} <span class="glyphicon glyphicon-arrow-left"></span> {{/link-to}}
</div>

<h1>Add new user `{{ content.name }}` to {{ team.name }}</h1>

<form role="form">
    <div class="form-group">
        {{view Ember.TextField valueBinding="firstName" class="form-control" placeholder="First name"}}
    </div>
    <div class="form-group">
        {{view Ember.TextField valueBinding="lastName" class="form-control" placeholder="Last name"}}
    </div>
    <div class="form-group">
        {{view Ember.TextField type="email" valueBinding="email" class="form-control" placeholder="Email"}}
    </div>
    <div class="form-group">
        <p><button {{action saveUser this}} type="button" class="btn btn-primary btn-lg btn-block">Save</button></p>
    </div>
</form>