<div class="btn-group pull-right">
    {{#link-to 'team.add-user' team class="btn btn-default"}} <span class="glyphicon glyphicon-plus"></span> {{/link-to}}
</div>

<h2>Team members</h2>

<ul class="list-group">
    {{#each user in team.users}}
        <li class="list-group-item">
            {{user.name}}
        {{!--
        <div class="btn-group pull-right">
            <button {{ action "removeUser" user }} type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        --}}
    </li>
{{else}}
    <li class="list-group-item">
        No users in team.
    </li>
{{/each}}
</ul>

<div class="btn-group pull-right">
    {{#link-to 'team.add-schedule' team class="btn btn-default"}} <span class="glyphicon glyphicon-plus"></span> {{/link-to}}
</div>

<h2>Schedules</h2>

<ul class="list-group">
    {{#each schedule in team.schedules}}
        <li class="list-group-item">
            {{schedule.name}}
        </li>
    {{else}}
        <li class="list-group-item">
            Team has no schedules.
        </li>
    {{/each}}
</ul>