<h1>Events</h1>
<div class="list-group events">
    {{#each event in controller}}
        {{#link-to 'event' event classNameBindings=":list-group-item event.done:list-group-item-success event.is_this_week:list-group-item-info"}}
            <h4 class="list-group-item-heading">{{event.name}}</h4>
            <span class="badge is-present">{{ event.present_count }}</span>
            <span class="badge is-absent">{{ event.absent_count }}</span>
            <p class="list-group-item-text">
                <small>
                    {{ event.location.name }} <br>
                    {{ humanizeDate event.starts_at 'dddd, DD.MM.YYYY, HH:mm' }}
                </small>
            </p>
        {{/link-to}}
    {{/each}}
</div>
