{% extends 'AttendeeWebpageBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AttendeeWebpageBundle/Resources/public/js/app/app.js'
        '@AttendeeWebpageBundle/Resources/public/js/app/*.coffee'
        '@AttendeeWebpageBundle/Resources/public/js/app/*/*.coffee'
        '@AttendeeWebpageBundle/Resources/public/js/app/*/*/*.coffee'
        output="attendee.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ render(controller('AttendeeWebpageBundle:App:templates')) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "@AttendeeWebpageBundle/Resources/public/css/app/*"
        output="attendee.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block container %}
    <div id="the-app"></div>
{% endblock %}
