{% extends 'AttendeeWebpageBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        '@AttendeeWebpageBundle/Resources/public/js/app/app.js'
        '@AttendeeWebpageBundle/Resources/public/js/app/*.coffee'
        '@AttendeeWebpageBundle/Resources/public/js/app/*/*.coffee'
        '@AttendeeWebpageBundle/Resources/public/js/app/*/*/*.coffee'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ render(controller('AttendeeWebpageBundle:App:templates')) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='?uglifycss'
        "@AttendeeWebpageBundle/Resources/public/css/app/menu.scss"
        "@AttendeeWebpageBundle/Resources/public/css/app/topbar.scss"
        "@AttendeeWebpageBundle/Resources/public/css/app/app.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block container %}
    <div id="the-app"></div>
{% endblock %}
